@page "/select-subject"

<h3>Select Subject</h3>

<ul>
    <li><NavLink href="/student-subject/CS101">CS101 – Computer Science I</NavLink></li>
    <li><NavLink href="/student-subject/CS201">CS201 – Data Structures</NavLink></li>
</ul>
